<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Coupon details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Book Haven - Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Admin Profile</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/orders">Manage Orders</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/users">Manage Users</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/manage-books">Manage Books</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="/coupons">Manage Coupons</a>
            <li class="nav-item">
                <a class="nav-link btn btn-danger ml-2" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-4">
    <h1 class="text-center">Coupon Details</h1>

    <a th:href="@{/coupons}" class="btn btn-outline-dark">Back</a>
    <a type="button" class="btn btn-primary"  th:href="@{'/coupons/coupon/' + ${coupon.id} + '/edit'}">Edit</a>
    <a type="button" class="btn btn-warning" th:if="${coupon.isActive}" th:href="@{'/coupons/coupon/' + ${coupon.id} +'/deactivate'}">De-activate</a>
    <a type="button" class="btn btn-success" th:if="${not coupon.isActive}" th:href="@{'/coupons/coupon/' + ${coupon.id}+'/reactivate'}">Re-activate</a>
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title" th:text="${coupon.code}"></h5>
        </div>
        <div class="card-body">
            <p class="card-text">Discount (%): <span th:text="${coupon.discount}"></span></p>
            <p class="card-text">Start Date: <span th:text="${coupon.startDate}"></span></p>
            <p class="card-text">End Date: <span th:text="${coupon.endDate}"></span></p>
            <p class="card-text">Active: <span th:text="${coupon.isActive}"></span></p>
        </div>
    </div>

</div>
</body>
</html>