<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restock Book</title>
</head>
<body>
<h1>Restock Book</h1>
<form action="#" th:action="@{/inventory/restock/{id}(id=${inventory.id})}" method="post">
    <label>Book Title: <span th:text="${inventory.book.title}"></span></label><br>
    <label>Current Stock: <span th:text="${inventory.stock}"></span></label><br>
    <label>Stock to Add: <input type="number" name="stock" required></label><br>
    <button type="submit">Restock</button>
</form>
</body>
</html>
