<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" src="/images/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<script src="/js/cart.js"></script>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">
            <img src="images/favicon.ico" height="30">
            Book Haven
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">All</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="#!">Audio Books</a></li>
                        <li><a class="dropdown-item" href="#!">Child Books</a></li>
                        <li><a class="dropdown-item" href="#!">Thrill</a></li>
                        <li><a class="dropdown-item" href="#!">Crime</a></li>
                        <li><a class="dropdown-item" href="#!">Romance</a></li>
                        <li><a class="dropdown-item" href="#!">Science Fiction</a></li>
                        <li><a class="dropdown-item" href="#!">Biographies</a></li>
                        <li><a class="dropdown-item" href="#!">History</a></li>
                        <li><a class="dropdown-item" href="#!">Non-fiction</a></li>
                        <li><a class="dropdown-item" href="#!">Cookbooks</a></li>
                        <li><a class="dropdown-item" href="#!">International Language</a></li>
                        <li><a class="dropdown-item" href="#!">Electronics</a></li>
                    </ul>
                </li>
            </ul>

            <a class="navbar-brand d-flex flex-column" href="#!">
                <form class="d-inline-flex" th:action="@{/search}">
                    <input
                            class="form-control mr-sm-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search">
                    <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">
                        <i class="bi-search"></i>
                    </button>
                </form>
            </a>

            <form th:if="${not isLoggedIn}" class="d-flex" action="/login">
                <button class="btn btn-outline-custom">
                    <i class="bi bi-door-open"></i>
                    Login
                </button>
            </form>

            <form th:if="${isLoggedIn}" class="d-flex" action="/logout">
                <button class="btn btn-outline-custom" href="">
                    <i class="bi bi-box-arrow-right"></i>
                    Logout
                </button>
            </form>

            <form th:if="${not isLoggedIn}" class="d-flex" action="/register/new">
                <button class="btn btn-outline-custom">
                    <i class="bi-person-circle"></i>
                    Register
                </button>
            </form>

            <form class="d-flex" action="/cart">
                <button class="btn btn-outline-custom" id="cart">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" th:text="${cartSize}"></span>
                </button>
            </form>
        </div>
    </div>
</nav>

<!-- Shopping cart list-->
<section class="h-100 h-custom" style="background-color: #ffaa7e;">
    <div class="container py-5 h-100" th:object="${cart}">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0">Shopping Cart</h1>

                                    </div>
                                    <hr class="my-4">

                                    <!--                                    Beginning of the left column of cart details-->
                                    <div th:if="${isEmpty}">
                                        <p>Your cart is empty.</p>
                                    </div>

                                    <div th:if="${not isEmpty}" th:each="lineItem : ${lineItems}">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img
                                                        th:src="${lineItem.book.imagePath}"
                                                        class="img-fluid rounded-3">
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted" th:text="${lineItem.book.isbn}"></h6>
                                                <h6 class="mb-0" th:text="${lineItem.book.title}"></h6>
                                            </div>

                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <span>€ </span>
                                                <span class="mb-0" th:text="${#numbers.formatDecimal(lineItem.book.price,1,2)}"></span>
                                            </div>

                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <button class="btn btn-outline-custom btn-sm"
                                                        th:attr="onclick='increaseQuantity(' + ${lineItem.id} + ')'">
                                                    <i class="bi bi-plus-square"></i>
                                                </button>

                                                <span th:text="${lineItem.quantity}"></span>

                                                <button class="btn btn-outline-custom btn-sm"
                                                        th:attr="onclick='decreaseQuantity(' + ${lineItem.id} + ')'">
                                                    <i class="bi bi-dash-square"></i>
                                                </button>
                                            </div>

                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex me-auto">
                                                <span>€ </span>
                                                <span class="line-total mb-0"
                                                      th:text="${#numbers.formatDecimal(lineTotals[lineItem.id],1,2)}"></span>
                                            </div>

                                            <hr class="my-4">

                                        </div>

                                    </div>

                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a href="/" class="text-body">
                                                <i class="bi bi-arrow-left" href="/"></i> Back to shop
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 bg-body-tertiary">
                                <div class="p-5" th:unless="${isEmpty}">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">
                                            <span th:text="${cartSize}"></span>
                                            <span th:text="${cartSizeText}"> </span>
                                        </h5>

                                        <h5 class="cart-total">
                                            <span>€ </span>
                                            <span th:text="${#numbers.formatDecimal(total,1,2)}"></span>
                                        </h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select data-mdb-select-init id = "shippingMethod">
                                            <option value="0">Choose your option</option>
                                            <option value="pickup" th:selected="${shippingMethod == 'pickup'}">Pick up at a store - €0.00</option>
                                            <option value="standard" th:selected="${shippingMethod == 'standard'}">Standard-Delivery - €5.00</option>
                                            <option value="express" th:selected="${shippingMethod == 'express'}">Express-Delivery - €10.00</option>
                                        </select>
                                    </div>

                                    <div id="addressCard" class="card" style="display: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">Shipping Address</h5>
                                            <p class="card-text">Please enter your shipping address.</p>
                                            <!-- Add form fields for address here -->

                                        </div>
                                    </div>

                                    <div id="storeAddressCard" class="card" style="display: none;">
                                        <div class="card-body">
                                            <h5 class="card-title">Store Address</h5>
                                            <p class="card-text">Please select a store for pickup.</p>
                                            <!-- Add form fields for store selection here -->
                                        </div>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Coupon</h5>

                                    <div class="mb-5">
                                        <div class="form-group-sm">
                                            <input type="text" id="couponCode" name="couponCode" class="form-control form-control-lg" placeholder="Enter your code" th:text="${couponCode}">
                                            <div id="couponMsg" th:if="${couponIsValid != null}" th:classappend="${couponIsValid} ? 'text-success' : 'text-danger'">
                                                <span th:text="${couponIsValid} ? 'Coupon applied successfully!' : 'Invalid coupon code.'"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">
                                            <span>Total Price </span>
                                        </h5>

                                        <h5 class="cart-total">
                                            <span>€ </span>
                                            <span th:text="${#numbers.formatDecimal(orderTotal, 2,2)}"></span>
                                        </h5>
                                    </div>


                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-success btn-block btn-lg"
                                            data-mdb-ripple-color="dark">Checkout
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>