<!-- completeProfile.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Complete Your Profile</title>
</head>
<body>
<h2>Complete Your Profile</h2>
<form th:action="@{/profile/complete}" method="post">
    <input type="hidden" name="id" th:value="${userProfile.id}"/>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:value="${userProfile.firstName}" required/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:value="${userProfile.lastName}" required/>

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${userProfile.dateOfBirth}" required/>

    <label for="gender">Gender:</label>
    <select id="gender" th:field="*{userProfile.gender}">
        <option value="">Select...</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>

    <h3>Address</h3>
    <label for="street">Street:</label>
    <input type="text" id="street" name="street" th:value="${address.street}"  required/>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" th:value="${address.city}" required/>

    <label for="zipCode">Postal Code:</label>
    <input type="text" id="zipCode" name="zipCode" th:value="${address.zipCode}" required/>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" th:value="${address.country}" required/>

    <!--<input type="hidden" name="profile_id" th:value="${userProfile.id}"/>-->

    <br> <br>
    <button type="submit">Complete Profile</button>
    <br> <br>
    <button><a th:href="@{/profile}" class="btn btn-secondary">Cancel</a></button>
</form>
</body>
</html>